/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap");

@import "tailwindcss";

button {
  cursor: pointer;
}

.animateHerLine {
  animation: animateLine 1.5s infinite linear;
}

@keyframes animateLine {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.hideScrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hideScrollbar::-webkit-scrollbar {
  display: none;
}

.mirror{
  transform: scaleX(-1);
}